<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rank</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Serial Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hair Color</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Eye Color</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Shoe Color</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Type of Socks</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <!-- <div>
    Feta mozzarella cream cheese. Say cheese feta taleggio roquefort port-salut cheese on toast cottage cheese pepper
    jack. Halloumi hard cheese boursin cheesy grin manchego rubber cheese port-salut edam. Cottage cheese say cheese
    roquefort edam stinking bishop hard cheese cheese and biscuits babybel. Cow cottage cheese cheesy feet.
  </div>
  <div>
    Cauliflower cheese everyone loves edam. Bocconcini rubber cheese cheese and wine camembert de normandie who moved my
    cheese smelly cheese monterey jack cut the cheese. Bavarian bergkase feta cheese on toast jarlsberg queso macaroni
    cheese cauliflower cheese paneer. Melted cheese cottage cheese cheesecake cheese on toast airedale feta cut the
    cheese rubber cheese. Cheese and biscuits parmesan cut the cheese.
  </div>
  <div>
    Gouda rubber cheese goat. Halloumi fromage frais caerphilly monterey jack swiss swiss rubber cheese lancashire.
    Queso squirty cheese cheese slices gouda camembert de normandie gouda paneer goat. Cow fromage frais cheddar
    monterey jack airedale boursin fromage frais lancashire. Cheese and biscuits.
  </div> -->
</ion-content>
